header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 400px;
    height: 100%;
}

nav {
    width: 75%;
}

ul {
    margin: 0 auto;
}

.nav-link {
    font-size: 25px;
}

li {
    margin: 0 30px;
}