header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 400px;
    height: 100%;
}

nav {
    width: 75%;
}

ul {
    margin: 0 auto;
}

.nav-link {
    font-size: 25px;
}

li {
    margin: 0 30px;
}

/* Things to do Page */
#attractionspage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#touristsection {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.touristcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.touristcardimg {
    width: 300px;
    
}